.Table {
    background-color: rgb(255, 255, 255);
    width: 1100px;
    height: 600px;
    margin-top: 100px;
    margin-left: 200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.divcardplus {
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 450px;
    margin-left: 45px;
    padding-top: 40px;
}

.divcardone {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 400px;
    margin-left: 110px;
    padding-top: 25px;
}

.divcardtwo {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    padding-top: 25px;
    margin:15px;
}

.divcardtree {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 400px;
    padding-top: 25px;
    margin: 15px;
}
.centername{text-align: center;}
.alllist{list-style: none;}
.roundbtn{
      align-items: center;
      background-color: #0A66C2;
      border: 0;
      border-radius: 100px;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-flex;
      font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 20px;
      max-width: 480px;
      min-height: 40px;
      min-width: 0px;
      overflow: hidden;
      padding: 0px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      touch-action: manipulation;
      transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
    }
    
    .button-18:hover,
    .button-18:focus { 
      background-color: #16437E;
      color: #ffffff;
    }
    
    .button-18:active {
      background: #09223b;
      color: rgb(255, 255, 255, .7);
    }
    
    .button-18:disabled { 
      cursor: not-allowed;
      background: rgba(0, 0, 0, .08);
      color: rgba(0, 0, 0, .3);}