*{margin: 0;padding: 0;box-sizing: border-box;}
.divone{background-color: rgb(150, 75, 185);
border: 4px;width: 900px; height: 900px;}
.divtwo{background-color: rgb(67, 195, 150);border-radius: 20%;width: 400px;height: 400px;}